.Background {
  min-height: 100vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.header {
  margin: 0 0.25em 0 0em;
  font-size: 1.5em;
  font-weight: 750;
}

.listSection {
  padding: 0.5rem;
  min-height: 122px;
  position: relative;
  top: 12vh;
  left: 25vw;
  border-radius: 8px;
  background-color: rgba(209, 206, 206, 0.774);
  width: 50vw;
  box-shadow: 0px 0px 8px 0px currentColor;
}
.listSection:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.24);
}
.MainSection {
  margin: 0.5em;
  padding: 1em;
}

form.MainSection > input[type="text"] {
  background-color: beige;
  top: 0.18em;
  position: relative;
  margin-right: 0.25em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  height: 1.5em;
  width: 15em;
  border-radius: 0.15em;
  border: 0.05em solid black;
}

.ListItems {
  background-color: coral;
  border-radius: 8px;
  width: 200px;
}

::-webkit-input-placeholder {
  color: rgba(255, 0, 0, 0.514);
}

:-ms-input-placeholder {
  color: rgba(255, 0, 0, 0.459);
}

::placeholder {
  font-size: 0.9em;
}

@media screen and (max-width: 800px) {
  .header {
    margin: 0 0.25em 0 0em;
    font-size: calc(22px + 2vmin);
    font-weight: 750;
  }

  .listSection {
    padding: 0.5rem;
    min-height: 122px;
    position: relative;
    top: 8vh;
    left: 6vw;
    border-radius: 8px;
    background-color: rgba(209, 206, 206, 0.774);
    min-width: 90vw;
    box-shadow: 0px 0px 8px 0px currentColor;
  }
  form.MainSection > input[type="text"] {
    position: relative;

    margin-bottom: 0.3em;

    height: 2em;
    width: 15em;
    border-radius: 0.15em;
    border: 0.05em solid black;
  }
}

@media screen and (max-width: 320px) {
  .MainSection {
    height: 5em;
    margin: 0.1em;
    padding: 1em;
  }

  form > input[type="text"] {
    height: 7em;
  }

  .listSection {
    top: 6.5em;
  }
}
