.Background {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.listSection {
  position: relative;
  top: 20vh;
  left: 25vw;

  border: 0.6em solid black;
  background-color: white;
  width: 50vw;
}

.MainSection {
  min-height: 30vh;
  padding: 1em;
  background-color: rgb(167, 45, 45);
}
